:root {
	font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #151515;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: currentColor;
}

section {
	columns: 2;
	padding: 12px 24px;
	column-gap: 24px;
	width: 100%;
	margin: auto;
}

@media (min-width: 600px) {
	section {
		columns: 3;
		padding: 16px 32px;
		column-gap: 32px;
		width: 90%;
	}
}

section img {
	border-radius: 4px;
	width: 100%;
	height: auto;
	margin-bottom: 32px;

	animation: reveal-img linear both;
	animation-timeline: view();
	animation-range: entry 20% cover 40%;
}
/* 
h1 {
	text-align: center;
	padding: 16px;
	width: 100%;
	position: sticky;
	top: 0;

	animation: enhance-header linear both;
	animation-timeline: scroll(root block);
	animation-range: 0 200px;
	z-index: 10;
} */

@keyframes enhance-header {
	to {
		background-color: rgba(255, 255, 255, 0.4);
		backdrop-filter: blur(5px);
		font-size: 18px;
		color: black;
	}
}

@keyframes reveal-img {
	from {
		opacity: 0;
		translate: 0 100px;
	}
	to {
		opacity: 1;
		translate: 0 0;
	}
}

/* Hero styles */
.hero__container {
	display: flex;
	align-items: center;
	padding-left: 50px;
	width: 100%;
	height: 100vh;
	background-color: #b9b3a9;
}

.hero__container h1 {
	color: #242424;
	text-transform: uppercase;
	font-size: 3rem;
	width: 60%;
}

@media (min-width: 500px) {
	.hero__container h1 {
		font-size: 5rem;
	}
}

/* About styles */
@keyframes move {
	to {
		/* Move horizontally so that right edge is aligned against the viewport */
		transform: translateX(calc(-100% + 100vw));
	}
}

#sectionPin {
	/* Stretch it out, so that we create room for the horizontal scroll animation */
	height: 500vh;
	overflow: visible; /* To make position sticky work … */

	view-timeline-name: --section-pin-tl;
	view-timeline-axis: block;
}

.pin-wrap-sticky {
	/* Stick to Top */
	height: 100vh;
	width: 100vw;
	position: sticky;
	top: 0;

	overflow-x: hidden;
}

.pin-wrap {
	height: 100vh;
	width: 250vmax;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 50px 10vw;
	column-gap: 120px;

	/* Hook animation */
	will-change: transform;
	animation: linear move forwards;

	/* Link animation to view-timeline */
	animation-timeline: --section-pin-tl;
	animation-range: contain 0% contain 100%;
}

.about__description {
	display: flex;
	flex-direction: column;
	max-width: 300px;
	margin-right: 20px;

	& h2 {
		font-size: 40px;
	}

	& p {
		font-size: 1rem;
		margin-bottom: 10px;
		text-wrap: pretty;
	}
}

.about__img__container img {
	height: 80vh;
	width: auto;
	max-width: 100%;
	object-fit: cover;
}

@media (min-width: 500px) {
	.about__description {
		max-width: 600px;

		& h2 {
			font-size: 60px;
		}
		& p {
			font-size: 1.125rem;
		}
	}
}

/* Footer */
footer {
	position: relative;
	background-color: #000;
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	align-items: center;
	justify-items: center;
	padding: 40px 0;
	gap: 16px;

	& img {
		height: 60vh;
		width: auto;
		max-width: 90%;
		object-fit: cover;
	}

	& .develop__mention {
		position: absolute;
		bottom: 10px;
		font-size: 12px;
		color: #4d4d4d;
		font-weight: 600;

		&:hover a {
			color: white;
		}
	}
}

.footer__content {
	color: #fff;
	padding: 0 40px 0 40px;

	& h3 {
		font-size: 28px;
	}

	& p {
		font-size: 14px;
		text-wrap: pretty;
	}

	& .footer__link {
		display: flex;
		align-items: center;
		column-gap: 10px;
		border: 2px solid #fff;
		padding: 5px 10px;
		border-radius: 15px;
		margin-top: 20px;
		width: 200px;

		& a {
			text-decoration: none;
			display: inline-block;
			color: #fff;
		}

		& .icon {
			background-color: #fff;
			border-radius: 100%;
			width: 8px;
			height: 8px;
			display: flex;
			justify-content: center;

			& svg {
				width: 5px;
			}
		}

		&:hover .icon {
			width: 18px;
			height: 18px;
			transition: 0.5s ease-in-out;

			& svg {
				stroke: #000;
				width: 12px;
			}
		}
	}
}

@media (min-width: 500px) {
	footer {
		grid-template-columns: repeat(2, 1fr);

		& img {
			height: 80vh;
			max-width: 100%;
		}
	}

	.footer__content {
		padding: 0 60px 0 0;
		& h3 {
			font-size: 40px;
		}

		& p {
			font-size: 16px;
		}
	}
}
